.root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 16px;
  border-radius: 4px;
  line-height: 100%;
  color: var(--color-white);
  font-size: 12px;

  &:hover {
    cursor: pointer;
  }

  &.primary {
    background: var(--color-light-blue);
  }

  &.secondary {
    background: transparent;
    color: var(--color-gray);
  }

  &[disabled] {
    background: var(--color-lavender-gray);
  }
}
