:root {
  --body-bg: #e5e5e5;
  --color-black: #000000;
  --color-yale-blue: #0a508b;
  --color-white: #ffffff;
  --color-bright-gray: #ebebeb;
  --color-light-gray: #e6ecef;
  --color-gray: #868a8d;
  --color-dark-gray: #6f7b8d;
  --color-lavender-gray: #c2cbd1;
  --color-blue: #057ae3;
  --color-light-blue: #1193ff;
  --color-red: #b0263d;
}
